<ngx-spinner>
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>

<app-nav></app-nav>

<div class="container" style="margin-top: 100px">
  <router-outlet></router-outlet>
</div>
